* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #4A4A4A;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.botones a {
    align-self: center;
    background-color: #BDBDBD;
    border-radius: 8px;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 20px 35px;
    text-decoration: none;
    transition: background-color 0.75s ease, transform 0.3s ease;
    width: auto;
}

.botones a:hover {
    background-color: #909090;
    cursor: pointer;
    transform: scale(1.25);
}

.cleo {
    border-radius: 512px;
    width: 255px;
}

.contact {
    transition: transform 0.3s ease;
}

.contact:hover {
    transform: scale(1.15);
}

.contact-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.espaciado {
    margin-bottom: 20px;
    margin-top: 20px;
}